<a href="https://colab.research.google.com/github/christoph-fraller/dopp_2020w_group03_ex3/blob/main/dopp_2020w_group03_ex3_with_git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Generate SSH-Keys for Accessing Git Repository

In [1]:
# import and mount google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# generate ssh keys (insert your username@github.com + hit enter when prompted for any answer)
! ssh-keygen -t rsa -b 4096 -C 'christoph-fraller@github.com'

Generating public/private rsa key pair.
Enter file in which to save the key (/root/.ssh/id_rsa):
/root/.ssh/id_rsa already exists.
Overwrite (y/n)? ^C

In [3]:
# check whether or not the ssh keys have been created ('id_rsa' and 'id_rsa.pub' should be displayed)
! ls /root/.ssh/

id_rsa	id_rsa.pub  known_hosts

In [4]:
# create directory for saving the ssh keys
! mkdir -p /content/drive/MyDrive/Ssh

In [5]:
# copy ssh keys from /root/.ssh/* to /content/drive/MyDrive/Ssh/*
! cp /root/.ssh/id_rsa /content/drive/MyDrive/Ssh/
! cp /root/.ssh/id_rsa.pub /content/drive/MyDrive/Ssh/

In [6]:
# display public ssh key for copy/paste
! cat /content/drive/MyDrive/Ssh/id_rsa.pub

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDB/4vlF0AnzwXwMPthgQP5FlcRYOGQXpvaUuFK8XB8vmdt7N5K/o5drPc9uErxFkc7SkBPDCuBNoeZFS2KseqAEPm3PLcrqpPwJc/WPf0mAAXHf4alH0owIoEu+V3fMHV6URMcapA47tgHC3HAlJS5W3m1ctPBhVoqQwZ+pRN+kEdQBxrdGeGBe/Ea4P9jIrv5kfdAneeAhUg0TgtEYHxTHfCYcwEDDkkkbiVdGxlChW87zolnOxa5dJQ3bLCXkqBA+kM5OLw99qTObVmBJsDBorN3XFuAGAZ4UX4j2QnBvWz9RjHngZ8BgceofvTdSiGK3aGWj9L+BYigZhiF+qMOZF2tnF1DmWgiMxXwDZF61+FnXdO+25JBjo/Q1r6i0XIV1OG5iz89zmXev40gdBeQ2cqDiQisqCb46EvZpQQsPwZfDJ7M1RV/evNVVus2Kr5j1yQL3BcrW3dhnqNj1kukJ4fYgT1FUAEkrbqf8C6k6vp1nml9oqKM+lMy+8CQ1zt/bblz2eqoUhOSvuwUH4YIjcKOP4SuwEKfaVSXXjfbMFxgEGkO35up5zpud80TWpQwVSNIsLa/MrAb7OUeF+NgEG4h1UC5jtrc/109USgKNcwBud2N0GdzV4frwRZzoO/BLnOOLWXVj3B/tVWfTh0uGFN3mH4Au0yf5ssxRIEaBQ== christoph-fraller@github.com

In [7]:
# add github to known hosts and adapt file access permissions
! ssh-keyscan github.com >> /root/.ssh/known_hosts
! chmod 644 /root/.ssh/known_hosts
! chmod 600 /root/.ssh/id_rsa
! ssh -T git@github.com

# github.com:22 SSH-2.0-babeld-78794f53
# github.com:22 SSH-2.0-babeld-78794f53
# github.com:22 SSH-2.0-babeld-78794f53
Hi christoph-fraller/dopp_2020w_group03_ex3! You've successfully authenticated, but GitHub does not provide shell access.

# Git Setup

In [8]:
# git config settings (replace with your credentials)
! git config --global user.email "christoph.fraller@gmail.com"
! git config --global user.name "christoph-fraller"

In [9]:
# create directory for git repositories
! mkdir -p /content/drive/MyDrive/Git

In [10]:
# git-clone has to be performed only once when setting up the git repo at your google drive
! git clone git@github.com:christoph-fraller/dopp_2020w_group03_ex3.git /content/drive/MyDrive/Git/dopp_2020w_group03_ex3

fatal: destination path '/content/drive/MyDrive/Git/dopp_2020w_group03_ex3' already exists and is not an empty directory.

## Important Shell and Git Commands

**NOTICE:** Always ensure that you are in the right directory when performing git commands (e.g. /content/drive/MyDrive/Git/dopp_2020w_group03_ex3). In case of any issues that might occur when switching directories it is highly recommended to restart the runtime engine (CTRL + M + .).

In [30]:
# check current working directory
! pwd

/content/drive/MyDrive/Git/dopp_2020w_group03_ex3

In [12]:
# switch to specified working directory
%cd /content/drive/MyDrive/Git/dopp_2020w_group03_ex3

/content/drive/MyDrive/Git/dopp_2020w_group03_ex3

In [13]:
# list content of current working directory
! ls

data  dopp_2020w_group03_ex3_with_git.ipynb  README.md

In [14]:
# check git status
! git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [33]:
# always perform a git pull before you start working or commit/push some changes
! git pull

remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 3 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.
From github.com:christoph-fraller/dopp_2020w_group03_ex3
   844bc8b..3e96cae  main       -> origin/main
hint: Waiting for your editor to close the file... error: unable to start editor 'editor'
Not committing merge; use 'git commit' to complete the merge.

In [34]:
# add a new data file to git repo directly from colab
# at first upload the file into the folder of your google drive
# ! git add data/world_bank_income_level_thresholds.csv
# ! git commit -m 'New file added.'
# ! git push

[main 5f5e270] New file added.
Counting objects: 6, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 1.20 KiB | 307.00 KiB/s, done.
Total 6 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), done.
To github.com:christoph-fraller/dopp_2020w_group03_ex3.git
   3e96cae..5f5e270  main -> main

# Perform these steps everytime when a new session has been started

In [17]:
# copy ssh keys from /content/drive/MyDrive/Ssh/* to /root/.ssh/*
! cp /content/drive/MyDrive/Ssh/id_rsa /root/.ssh/
! cp /content/drive/MyDrive/Ssh/id_rsa.pub /root/.ssh/

In [18]:
# add github to known hosts and adapt file access permissions
! ssh-keyscan github.com >> /root/.ssh/known_hosts
! chmod 644 /root/.ssh/known_hosts
! chmod 600 /root/.ssh/id_rsa
! ssh -T git@github.com

# github.com:22 SSH-2.0-babeld-78794f53
# github.com:22 SSH-2.0-babeld-78794f53
# github.com:22 SSH-2.0-babeld-78794f53
Warning: Permanently added the RSA host key for IP address '140.82.112.4' to the list of known hosts.
Hi christoph-fraller/dopp_2020w_group03_ex3! You've successfully authenticated, but GitHub does not provide shell access.

In [54]:
# always perform a git pull before you start working or commit/push some changes
! git pull

remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 5 (delta 1), reused 5 (delta 1), pack-reused 0
Unpacking objects: 100% (5/5), done.
From github.com:christoph-fraller/dopp_2020w_group03_ex3
   c6dfc48..f34313d  main       -> origin/main
Updating c6dfc48..f34313d
Fast-forward
 data/world_bank_income_level_thresholds.csv | 122 ++++++++++++++--------------
 data/world_bank_sdr_deflator.csv            | 122 ++++++++++++++--------------
 2 files changed, 122 insertions(+), 122 deletions(-)

# Data Preprocessing

In [86]:
import pandas as pd
import numpy as np

###Load the data

source: World Bank

In [21]:
def load_csv_data():
    
    data_file = pd.read_csv('/content/drive/MyDrive/Git/dopp_2020w_group03_ex3/data/data_indicators_1.csv', sep = ',')

    return data_file

data = load_csv_data()

In [22]:
data

                                                   Time  ... Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]
0                                                  1960  ...                                                 ..
1                                                  1960  ...                                                 ..
2                                                  1960  ...                                                 ..
3                                                  1960  ...                                                 ..
4                                                  1960  ...                                                 ..
...                                                 ...  ...                                                ...
13237                                               NaN  ...                                                NaN
13238                                               NaN  ...                                                NaN
13239                                               NaN  ...                                                NaN
13240  Data from database: World Development Indicators  ...                                                NaN
13241                          Last Updated: 12/16/2020  ...                                                NaN

[13242 rows x 17 columns]

In [23]:
data.tail(15)

                                                   Time  ... Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]
13227                                              2020  ...                                                 ..
13228                                              2020  ...                                                 ..
13229                                              2020  ...                                                 ..
13230                                              2020  ...                                                 ..
13231                                              2020  ...                                                 ..
13232                                              2020  ...                                                 ..
13233                                              2020  ...                                                 ..
13234                                              2020  ...                                                 ..
13235                                              2020  ...                                                 ..
13236                                              2020  ...                                                 ..
13237                                               NaN  ...                                                NaN
13238                                               NaN  ...                                                NaN
13239                                               NaN  ...                                                NaN
13240  Data from database: World Development Indicators  ...                                                NaN
13241                          Last Updated: 12/16/2020  ...                                                NaN

[15 rows x 17 columns]

### Drop unnecessary rows and columns

In [24]:
#drop rows
data.drop(data.tail(5).index,inplace=True)
#drop columns
data.drop(['Time Code','Country Code'], axis = 1, inplace=True)
#rename column Time to Year
data.rename(columns={'Time': 'Year'},inplace = True)

In [25]:
#data.tail(15)

### Set index

In [26]:
data = data.set_index(['Country Name', 'Year'])
data

                           GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD]  ... Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]
Country Name          Year                                                              ...
Argentina             1960                                                 ..           ...                                                 ..
Australia             1960                                                 ..           ...                                                 ..
Brazil                1960                                                 ..           ...                                                 ..
China                 1960                                                 ..           ...                                                 ..
France                1960                                                 ..           ...                                                 ..
...                                                                       ...           ...                                                ...
Samoa                 2020                                                 ..           ...                                                 ..
San Marino            2020                                                 ..           ...                                                 ..
Sao Tome and Principe 2020                                                 ..           ...                                                 ..
Senegal               2020                                                 ..           ...                                                 ..
Serbia                2020                                                 ..           ...                                                 ..

[13237 rows x 13 columns]

In [27]:
#drop Year 2020 since too little data available
data.drop('2020',level='Year',inplace=True)
data

                           GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD]  ... Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]
Country Name          Year                                                              ...
Argentina             1960                                                 ..           ...                                                 ..
Australia             1960                                                 ..           ...                                                 ..
Brazil                1960                                                 ..           ...                                                 ..
China                 1960                                                 ..           ...                                                 ..
France                1960                                                 ..           ...                                                 ..
...                                                                       ...           ...                                                ...
Samoa                 2019                                               4190           ...                                                 ..
San Marino            2019                                                 ..           ...                                                 ..
Sao Tome and Principe 2019                                               1930           ...                                                 ..
Senegal               2019                                               1460           ...                                                 ..
Serbia                2019                                               7030           ...                                                 ..

[13020 rows x 13 columns]

### Extract dataset

In [28]:
dataset1 = data['GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD]']
dataset1

Country Name           Year
Argentina              1960      ..
Australia              1960      ..
Brazil                 1960      ..
China                  1960      ..
France                 1960      ..
                               ...
Samoa                  2019    4190
San Marino             2019      ..
Sao Tome and Principe  2019    1930
Senegal                2019    1460
Serbia                 2019    7030
Name: GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD], Length: 13020, dtype: object

# Question 1

In [91]:
# load income-level thresholds
income_threshold_data = pd.read_csv('/content/drive/MyDrive/Git/dopp_2020w_group03_ex3/data/world_bank_income_level_thresholds.csv', sep = ',')
income_threshold_data.set_index(['calendar_year'], inplace = True)
income_threshold_data.drop(['banks_fiscal_year'], axis = 1, inplace = True)

# load sdr deflator values
sdr_deflator_data = pd.read_csv('/content/drive/MyDrive/Git/dopp_2020w_group03_ex3/data/world_bank_sdr_deflator.csv', sep = ',')
sdr_deflator_data.set_index(['calendar_year'], inplace = True)
sdr_deflator_data.drop(['sdr_deflator_us_dollar'], axis = 1, inplace = True)

# merge income_threshold_data and sdr_deflator_data using index 'calendar_year'
threshold_data = income_threshold_data.merge(sdr_deflator_data, how = 'inner', left_index = True, right_index = True)

In [92]:
threshold_data

               low_income_level_threshold  ...  sdr_inflation_rate_annual_change
calendar_year                              ...
1960                                  NaN  ...                               NaN
1961                                  NaN  ...                               1.1
1962                                  NaN  ...                               2.1
1963                                  NaN  ...                               1.4
1964                                  NaN  ...                               1.7
1965                                  NaN  ...                               2.7
1966                                  NaN  ...                               3.3
1967                                  NaN  ...                               3.2
1968                                  NaN  ...                               4.9
1969                                  NaN  ...                               5.0
1970                                  NaN  ...                               5.3
1971                                  NaN  ...                               5.8
1972                                  NaN  ...                               8.5
1973                                  NaN  ...                              16.2
1974                                  NaN  ...                              20.3
1975                                  NaN  ...                              19.0
1976                                  NaN  ...                               8.2
1977                                  NaN  ...                               7.2
1978                                  NaN  ...                               9.7
1979                                  NaN  ...                              15.3
1980                                  NaN  ...                              17.0
1981                                  NaN  ...                              10.5
1982                                  NaN  ...                               2.1
1983                                  NaN  ...                              -2.9
1984                                  NaN  ...                              -0.9
1985                                  NaN  ...                              -0.1
1986                                  NaN  ...                               6.2
1987                                480.0  ...                              12.0
1988                                545.0  ...                              13.6
1989                                580.0  ...                               6.6
1990                                610.0  ...                               5.2
1991                                635.0  ...                               3.8
1992                                675.0  ...                               5.7
1993                                695.0  ...                               3.5
1994                                725.0  ...                               3.8
1995                                765.0  ...                               4.4
1996                                785.0  ...                               2.7
1997                                785.0  ...                               0.2
1998                                760.0  ...                              -3.0
1999                                755.0  ...                              -1.0
2000                                755.0  ...                               0.0
2001                                745.0  ...                              -0.7
2002                                735.0  ...                              -1.4
2003                                765.0  ...                               3.5
2004                                825.0  ...                               7.3
2005                                875.0  ...                               6.5
2006                                905.0  ...                               3.7
2007                                935.0  ...                               3.1
2008                                975.0  ...                               4.0
2009                                995.0  ...                               2.4
2010                               1005.0  ...                               0.7
2011                               1025.0  ...                               1.6
2012                               1035.0  ...                               1.1
2013                               1045.0  ...                               1.0
2014                               1045.0  ...                              -0.1
2015                               1025.0  ...                              -2.1
2016                               1005.0  ...                              -1.9
2017                                995.0  ...                              -1.4
2018                               1025.0  ...                               2.7
2019                               1035.0  ...                               1.3

[60 rows x 4 columns]

In [120]:
def calculate_missing_thresholds(input_data):
    
    df = input_data
    thresholds_list = ['low_income_level_threshold', 'middle_income_level_threshold', 'high_income_level_threshold']   
    
    # calculate missing values
    for i in range(0, len(df)):
      # retrieve current index
      curr_index = df.index.max() - i
      for threshold in thresholds_list:
        # check if threshold value is missing
        if(np.isnan(df.loc[curr_index, threshold])):
          # calculate missing threshold value based on existing threshold and sdr_inflation_rate_annual_change
          df.loc[curr_index, threshold] = df.loc[curr_index + 1, threshold] / (100 + df.loc[curr_index + 1, 'sdr_inflation_rate_annual_change']) * 100
    
    # round thresholds to nearest multiple of base
    base = 5
    for threshold in thresholds_list:
      df[threshold] = round(df[threshold] / base) * base

    return df[thresholds_list]

threshold_data_complete = calculate_missing_thresholds(threshold_data)

In [121]:
threshold_data_complete

               low_income_level_threshold  ...  high_income_level_threshold
calendar_year                              ...
1960                                 85.0  ...                       1050.0
1961                                 85.0  ...                       1060.0
1962                                 85.0  ...                       1085.0
1963                                 90.0  ...                       1100.0
1964                                 90.0  ...                       1115.0
1965                                 90.0  ...                       1150.0
1966                                 95.0  ...                       1185.0
1967                                100.0  ...                       1225.0
1968                                105.0  ...                       1285.0
1969                                110.0  ...                       1350.0
1970                                115.0  ...                       1420.0
1971                                120.0  ...                       1500.0
1972                                130.0  ...                       1630.0
1973                                150.0  ...                       1895.0
1974                                180.0  ...                       2275.0
1975                                215.0  ...                       2710.0
1976                                235.0  ...                       2930.0
1977                                250.0  ...                       3145.0
1978                                275.0  ...                       3450.0
1979                                320.0  ...                       3975.0
1980                                370.0  ...                       4650.0
1981                                410.0  ...                       5140.0
1982                                420.0  ...                       5245.0
1983                                410.0  ...                       5095.0
1984                                405.0  ...                       5050.0
1985                                405.0  ...                       5045.0
1986                                430.0  ...                       5355.0
1987                                480.0  ...                       6000.0
1988                                545.0  ...                       6000.0
1989                                580.0  ...                       6000.0
1990                                610.0  ...                       7620.0
1991                                635.0  ...                       7910.0
1992                                675.0  ...                       8355.0
1993                                695.0  ...                       8625.0
1994                                725.0  ...                       8955.0
1995                                765.0  ...                       9385.0
1996                                785.0  ...                       9645.0
1997                                785.0  ...                       9655.0
1998                                760.0  ...                       9360.0
1999                                755.0  ...                       9265.0
2000                                755.0  ...                       9265.0
2001                                745.0  ...                       9205.0
2002                                735.0  ...                       9075.0
2003                                765.0  ...                       9385.0
2004                                825.0  ...                      10065.0
2005                                875.0  ...                      10725.0
2006                                905.0  ...                      11115.0
2007                                935.0  ...                      11455.0
2008                                975.0  ...                      11905.0
2009                                995.0  ...                      12195.0
2010                               1005.0  ...                      12275.0
2011                               1025.0  ...                      12475.0
2012                               1035.0  ...                      12615.0
2013                               1045.0  ...                      12745.0
2014                               1045.0  ...                      12735.0
2015                               1025.0  ...                      12475.0
2016                               1005.0  ...                      12235.0
2017                                995.0  ...                      12055.0
2018                               1025.0  ...                      12375.0
2019                               1035.0  ...                      12535.0

[60 rows x 3 columns]