<a href="https://colab.research.google.com/github/christoph-fraller/dopp_2020w_group03_ex3/blob/main/dopp_2020w_group03_ex3_with_git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Drive

In [ ]:
# import and mount google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Generate SSH-Keys for Accessing Git Repository

In [5]:
# generate ssh keys (hit enter when prompted for any answer)
! ssh-keygen -t rsa -b 4096 -C 'christoph-fraller@github.com'

Generating public/private rsa key pair.
Enter file in which to save the key (/root/.ssh/id_rsa):
Enter passphrase (empty for no passphrase):
Enter same passphrase again:
Your identification has been saved in /root/.ssh/id_rsa.
Your public key has been saved in /root/.ssh/id_rsa.pub.
The key fingerprint is:
SHA256:OVsjNK6hZp2I8NqX5vHSNWYAkBlL5rflHvhzlveJehI christoph-fraller@github.com
The key's randomart image is:
+---[RSA 4096]----+
|  ==             |
| +o..            |
|  o ... o        |
|   . =.o o       |
|.   o +.S o      |
| o . * =E* .     |
|  o *oB+=o.      |
| o o=o.+...o .   |
|. .+... .+. o    |
+----[SHA256]-----+

In [7]:
# check whether or not the ssh keys have been created ('id_rsa' and 'id_rsa.pub' should be displayed)
! ls /root/.ssh/

id_rsa	id_rsa.pub  known_hosts

In [11]:
# display public ssh key for copy/paste
! cat /root/.ssh/id_rsa.pub

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC3cj9gNkwjGuKFGjxXXhJojxmYAnVbNItvyzNnlv8L2ifF/+f2s1eWmeC+ZzIF86ED+JkiXk2+MjI1/gcc3sIBCt6oel3NTnAKuS5/HLR+CFsPNOcDmIkgZiRwUYyYdnpWsGQdJUx0j0e6IHi6pQgU9W6Pno7xLRgvR0D2rFi0zqnUCYorce5eoQ/YFXVurDwGdzIDcLefVrQkicUkrMEQU4tafPQ3wlCa5qL6RR5DLI4dnZkldv7bF+Duj6Ql/SfLO7mB95QSKYKQLBIaWFQ1k2XLJTjY2OkjckWdmTkHYz/IM/dzfnlVa2Fb7lXAIaMXHC/cRDw6E0M3LwsfXOm9DPsgTiWRaO90iNlwdHvpe9WbLJP4nME753UufYoH9ZVHwlC3JOsIwZUWclFdhAYHba/QmYvAwFODCQ/wW5D9GJMKshQlUdP3uoa1zbvHjr/WxAizuzn83NPQCQYXZBHBuM0hNeP28f29s+qZJClWruN203bov1tPkdZ/kzq2BYKV5iHy8QTsrYtH0JKm2meWk6tljks6RXN0mUhwie4oNJIPdwdkW5dqMnD667PRfiNi67bgFBpHWw/E8fH+McYhEFXXqIh3ZHxk5IjdYE8lfA2nRaJmg4NxOdzAac3D8IVQab19MlcwyW4Rk6eigMqMjfUCaYQQDMW7bUBWUO7n5w== christoph-fraller@github.com

In [10]:
# add github to known hosts and adapt file access permissions
! ssh-keyscan github.com >> /root/.ssh/known_hosts
! chmod 644 /root/.ssh/known_hosts
! chmod 600 /root/.ssh/id_rsa
! ssh -T git@github.com

# github.com:22 SSH-2.0-babeld-78794f53
# github.com:22 SSH-2.0-babeld-78794f53
# github.com:22 SSH-2.0-babeld-78794f53
Warning: Permanently added the RSA host key for IP address '140.82.112.4' to the list of known hosts.
git@github.com: Permission denied (publickey).

# Git Setup

In [37]:
# git config settings (replace with your credentials)
! git config --global user.email "christoph.fraller@gmail.com"
! git config --global user.name "christoph-fraller"

In [3]:
# create directory for git repositories
! mkdir -p /content/drive/MyDrive/Git

In [2]:
# git-clone has to be performed only once when setting up the git repo at your google drive
! git clone git@github.com:christoph-fraller/dopp_2020w_group03_ex3.git /content/drive/MyDrive/Git/dopp_2020w_group03_ex3

Cloning into '/content/drive/MyDrive/Git/dopp_2020w_group03_ex3'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 21 (delta 11), reused 6 (delta 1), pack-reused 0
Receiving objects: 100% (21/21), 613.10 KiB | 7.57 MiB/s, done.
Resolving deltas: 100% (11/11), done.

# Important Shell and Git Commands

**NOTICE:** Always ensure that you are in the right directory when performing git commands (e.g. /content/drive/MyDrive/Git/dopp_2020w_group03_ex3). In case of any issues that might occur when switching directories it is highly recommended to restart the runtime engine (CTRL + M).

In [4]:
# check current working directory
! pwd

/content

In [7]:
# switch to specified working directory
%cd /content/drive/MyDrive/Git/dopp_2020w_group03_ex3

/content/drive/MyDrive/Git/dopp_2020w_group03_ex3

In [5]:
# list content of current working directory
! ls

drive

In [12]:
# check git status
! git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [27]:
# always perform a git pull before you start working or commit/push some changes
! git pull

Already up to date.

In [11]:
# add a new data file to git repo directly from colab
# ! git add /content/drive/MyDrive/Git/dopp_2020w_group03_ex3/data/test.txt
# ! git commit -m 'New file added.'
# ! git push

[main 4c39877] New file added.
 1 file changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 data/test.txt
Counting objects: 4, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (4/4), 437 bytes | 109.00 KiB/s, done.
Total 4 (delta 0), reused 0 (delta 0)
To github.com:christoph-fraller/dopp_2020w_group03_ex3.git
   cd8ab41..4c39877  main -> main

# Data Preprocessing

In [15]:
import pandas as pd

###Load the data

source: World Bank

In [17]:
def load_csv_data():
    
    data_file = pd.read_csv('/content/drive/MyDrive/Git/dopp_2020w_group03_ex3/data/data_indicators_1.csv', sep = ',')

    return data_file

data = load_csv_data()

In [18]:
data

                                                   Time  ... Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]
0                                                  1960  ...                                                 ..
1                                                  1960  ...                                                 ..
2                                                  1960  ...                                                 ..
3                                                  1960  ...                                                 ..
4                                                  1960  ...                                                 ..
...                                                 ...  ...                                                ...
13237                                               NaN  ...                                                NaN
13238                                               NaN  ...                                                NaN
13239                                               NaN  ...                                                NaN
13240  Data from database: World Development Indicators  ...                                                NaN
13241                          Last Updated: 12/16/2020  ...                                                NaN

[13242 rows x 17 columns]

In [19]:
data.tail(15)

                                                   Time  ... Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]
13227                                              2020  ...                                                 ..
13228                                              2020  ...                                                 ..
13229                                              2020  ...                                                 ..
13230                                              2020  ...                                                 ..
13231                                              2020  ...                                                 ..
13232                                              2020  ...                                                 ..
13233                                              2020  ...                                                 ..
13234                                              2020  ...                                                 ..
13235                                              2020  ...                                                 ..
13236                                              2020  ...                                                 ..
13237                                               NaN  ...                                                NaN
13238                                               NaN  ...                                                NaN
13239                                               NaN  ...                                                NaN
13240  Data from database: World Development Indicators  ...                                                NaN
13241                          Last Updated: 12/16/2020  ...                                                NaN

[15 rows x 17 columns]

### Drop unnecessary rows and columns

In [20]:
#drop rows
data.drop(data.tail(5).index,inplace=True)
#drop columns
data.drop(['Time Code','Country Code'], axis = 1, inplace=True)
#rename column Time to Year
data.rename(columns={'Time': 'Year'},inplace = True)

In [ ]:
#data.tail(15)

### Set index

In [21]:
data = data.set_index(['Country Name', 'Year'])
data

                           GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD]  ... Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]
Country Name          Year                                                              ...
Argentina             1960                                                 ..           ...                                                 ..
Australia             1960                                                 ..           ...                                                 ..
Brazil                1960                                                 ..           ...                                                 ..
China                 1960                                                 ..           ...                                                 ..
France                1960                                                 ..           ...                                                 ..
...                                                                       ...           ...                                                ...
Samoa                 2020                                                 ..           ...                                                 ..
San Marino            2020                                                 ..           ...                                                 ..
Sao Tome and Principe 2020                                                 ..           ...                                                 ..
Senegal               2020                                                 ..           ...                                                 ..
Serbia                2020                                                 ..           ...                                                 ..

[13237 rows x 13 columns]

In [22]:
#drop Year 2020 since too little data available
data.drop('2020',level='Year',inplace=True)
data

                           GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD]  ... Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]
Country Name          Year                                                              ...
Argentina             1960                                                 ..           ...                                                 ..
Australia             1960                                                 ..           ...                                                 ..
Brazil                1960                                                 ..           ...                                                 ..
China                 1960                                                 ..           ...                                                 ..
France                1960                                                 ..           ...                                                 ..
...                                                                       ...           ...                                                ...
Samoa                 2019                                               4190           ...                                                 ..
San Marino            2019                                                 ..           ...                                                 ..
Sao Tome and Principe 2019                                               1930           ...                                                 ..
Senegal               2019                                               1460           ...                                                 ..
Serbia                2019                                               7030           ...                                                 ..

[13020 rows x 13 columns]

### Extract dataset

In [23]:
dataset1 = data['GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD]']
dataset1

Country Name           Year
Argentina              1960      ..
Australia              1960      ..
Brazil                 1960      ..
China                  1960      ..
France                 1960      ..
                               ...
Samoa                  2019    4190
San Marino             2019      ..
Sao Tome and Principe  2019    1930
Senegal                2019    1460
Serbia                 2019    7030
Name: GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD], Length: 13020, dtype: object

# Frage 1

In [25]:
#load thresholds
def load_csv_income_thresholds():
    
    data_file = pd.read_csv('/content/drive/MyDrive/Git/dopp_2020w_group03_ex3/data/data_indicators_1.csv', sep = ',')

    return data_file

income_thresholds = load_csv_income_thresholds()